
/* - Css import -
================================================== 

@import url("css/preloader.css");

/* - General -
================================================== */
:root {
  --ph-primary : 238,49,111;
}
body, html {
	background-color: #000;
  margin: 0; padding: 0;
}
a {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.fade {
	opacity: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}
.fade:hover {
	opacity: 0.8;
}

.color-overlay {
	background:rgba(252,75,80,.9);
}

/* Magnific */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: rgba(60,60,60,0.4);
  mix-blend-mode: multiply;
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; 
  background-color: #000;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(200,200,200,0.2);
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 96%;
  max-width: 1120px;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: auto; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }
.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }
.mfp-auto-cursor .mfp-content {
  cursor: auto; }
.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }
.mfp-loading.mfp-figure {
  display: none; }
.mfp-hide {
  display: none !important; }
.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
  .mfp-preloader a:hover {
      color: #FFF; }
.mfp-s-ready .mfp-preloader {
  display: none; }
.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }
.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
.mfp-close:hover,
.mfp-close:focus {
    opacity: 1; }
.mfp-close:active {
    top: 1px; }
.mfp-close-btn-in .mfp-close {
  color: #333; }
.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }
.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }
.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
.mfp-arrow:active {
    margin-top: -54px; }
.mfp-arrow:hover,
.mfp-arrow:focus {
    opacity: 1; }
.mfp-arrow:before,
.mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
.mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
.mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }
.mfp-arrow-left {
  left: 0; }
.mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
.mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }
.mfp-arrow-right {
  right: 0; }
.mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
.mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F; }
.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
.mfp-iframe-holder .mfp-close {
    top: -40px; }
.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
.mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
.mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
.mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
.mfp-figure figure {
    margin: 0; }
.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }
.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }
.mfp-image-holder .mfp-content {
  max-width: 100%; }
.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }
 /* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  transition: all .5s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 1;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}
/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
/* content animate in */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
.container-fluid, .container {
-webkit-transition: all .5s ease-out;
-moz-transition: all .5s ease-out;
transition: all .5s ease-out;
	filter: blur(0px);}
.blurify {
	filter: blur(7px);
-webkit-transition: all .7s ease-out;
-moz-transition: all .7s ease-out;
transition: all .7s ease-out;}
.blurify .box-intro {
	background: none!important;}
.cd-top.blurify{
	right: 27px;
	opacity: 0;
	transition: opacity .7s ease-out;}
.folio.solo button.prev, .folio.solo button.next {
  display: none;}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }
/* end magnific */

/* Folio slides
==================================================*/
.folio {
	border: 1px solid rgba(200,200,200,0.3);
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
	position: relative;
	background: rgba(0,0,0,0.8);
}
.folio-slide {
	width: 100%;
	max-width: 1040px;
	margin: 0 auto;
  padding: 60px 20px; 
/*    display: flex;*/
  display: block;
  color: #fff;
  height: 540px;
  vertical-align: middle;
}
.folio-slide p {
    margin-bottom: 14px;
    line-height: 20px;
}
.folio-info { 
	text-align: left;
  line-height: 1.4em;
  padding: 0 0 0 10px;
/*  height: 100%;*/
}
.folio-info img {
  max-width: 140px;
  max-height: 60px;
  margin-bottom: 20px;
}
.folio-pics {
  border: 1px solid blue;
  padding: 0;
}
.folio-pics img {
  display: block; 
  right: 0;
/*  padding-left: 20px;*/ 
  border: 1px solid yellow;
  max-width: 94%;
  text-align: right;
  height: auto;
}
.row { margin: 0; }
.prev, .next {
	height: 100%;
	width: 32px;
	background: transparent!important;
	position: absolute;
	top: 0;
	z-index: 10000;
	border: none!important;
	outline: none!important;
	padding: 0!important;
  }
.prev {left: 0;}
.next {right: 0;}
.folio button i {
	color: #fff;
	opacity: 0.5;
  font-size: 26px;
}
.folio button:hover i {
	opacity: 1;
}
button.mfp-close.yayCloseBtn {
	background: rgba(0,0,0,0.5)!important;
	margin-top:0;
	margin-right: 0;
	font-size: 40px;}
.folio-detail p {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
margin-bottom: 8px;
color: var(--ph-litetext);
}
.folio-detail-label { 
  font-family: 'Montserrat';
  width: 50px; 
  display: inline-block;
  float: left; 
  font-weight: 400;
  color: var(--ph-midtext);}
.folio-detail.caption {
  border-left: 4px solid rgba(var(--ph-primary),1); 
  padding: 8px;
  margin-right: 12px; 
  margin-top: 30px;
  background: rgba(200,200,200,0.2);
}

/*    R E S P O N S I V E
=========================================
xs: 0-767px     green   2col
sm: 768-991px   blue    3col
md: 992-1199px  orange  4col
*/
/**** LG... ****/
@media (min-width: 992px) and (max-width: 1199px) {
/*    div.portfolio {background-color: orange;}*/
    .folio-info img { margin-bottom: 40px; }
}
/**** MD... ****/
@media (min-width: 768px) and (max-width: 991px) {
    .folio-info     {border: 1px solid red;}
    .folio-info img { margin-bottom: 10px; }
    .folio-pics     {  padding: 0;         }
}
/**** SM... ****/
@media (min-width: 768px) {
  .siema            {     }
	.folio-pics       { max-height: 380px;	}
  .folio-slide      { width: 100%; cursor: default;       }
  .folio-detail p   { font-size: 13px;    }
  .folio .prev, .folio .next { width: 40%; background-color: rgba(123,182,12,0.2)!important; }
  .folio .prev      { text-align: left;
                      cursor:url('_assets/img/cursor-prev-32.png'), auto;             }
  .folio .next      { text-align: right;
                      cursor:url('_assets/img/cursor-next-32.png'), auto;             }
/*  .folio button i { display: none;}*/

}
/**** XS... break to single-col view ****/
@media (max-width: 767px) {
  .folio-slide      { padding: 10px 0;
                      width: 100%;
                      height: auto;
                      display: flex!important;
                      flex-direction: column-reverse!important; }
  .folio-info       { text-align: left;
                      padding: 20px 30px; }
  .folio-info img   { margin-bottom: 10px; }
  .folio-slide p    { margin-bottom: 10px; }
  .folio-pics       { padding: 0; }
  .folio-pics img   { padding-left: 0; 
                      margin: 0 auto;
                      margin-bottom: 10px;
                      max-width: 90%;
                      max-height: 400px;

                      }
  p.folio-detail.caption
                    { margin: 0;
                      margin-top: 30px;
                      padding: 16px 10% 16px 20px;
                      font-size: 14px; }
  p.folio-detail.caption span {margin-right: 10px; width: auto;}
}
@media only screen and (max-width: 575px) {}
@media only screen and (max-width: 767px) and (orientation: portrait) {
/* .folio-slide     { display: flex!important;
                      flex-direction: column-reverse!important;
                      font-size: 1em !important;}*/}

/* ----------- siema testing  ----------- */
.siema {}
.folio .prev, .folio .next {
}
.folio.solo .prev, .folio.solo .next { 
  display: none; 
}
.folio-slide {
  -webkit-animation: hideSlow .5s ease;
  -moz-animation:    hideSlow .5s ease;
  -o-animation:      hideSlow .5s ease;
  animation:         hideSlow .5s ease;
  opacity: 0; }
.folio p .js-index {
  -webkit-transition: color 1s ease-in-out .5s;
  transition: color 1s ease-in-out .5s; }
.show {
  -webkit-animation: showSlow .5s ease;
  -moz-animation:    showSlow .5s ease;
  -o-animation:      showSlow .5s ease;
  animation:         showSlow .5s ease;
  opacity: 1; }

/*keyframes...*/
@-webkit-keyframes showSlow {
        0%,
        80% {   opacity: 0;  }
        100% {  opacity: 1;   }
    }
    @-moz-keyframes showSlow {
        0%,
        80% {   opacity: 0;  }
        100% {  opacity: 1;   }
    }
    @-o-keyframes showSlow {
        0%,
        80% {   opacity: 0;  }
        100% {  opacity: 1;   }
    }
    @keyframes showSlow {
        0%,
      	80% {   opacity: 0;  }
    		100% {  opacity: 1;   }
    }
    @-webkit-keyframes hideSlow {
        0%    {   opacity: 1;   }
        20%,
        100%  {   opacity: 0;   }
    }
    @-moz-keyframes hideSlow {
        0%    {   opacity: 1;   }
        20%,
        100%  {   opacity: 0;   }
    }
    @-o-keyframes hideSlow {
        0%    {   opacity: 1;   }
        20%,
        100%  {   opacity: 0;   }
    }
    @keyframes hideSlow {
        0%    {   opacity: 1;   }
        20%,
        100%  {   opacity: 0;   }
    }
